{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        Gray's Peak
    </h1>
    <p class="subheading">
        Silver Plume, CO 10/5/2025
    </p>
    <div id="grays">
    </div>
    <p class="content">
        &emsp; I decided to camp out for this hike since I wanted to be done by early afternoon, and I ended up making quite a few mistakes.
        Firstly, you aren't allowed to make campfires in a lot of places, and this is one of them.
        I had bought wood to burn for a campfire, but we ended up not being able to use it and just went to bed hungry. <br>
        &emsp; It was a very moderately cold night when we were there and I did not pack a sleeping bag that could hold up in the temperature.
        I think it actually snowed while we were setting up camp, and I woke up many times that night not being able to feel my feet. <br>
        &emsp; We woke up for good at around 7 in the morning to make some breakfast, when we realized that we hadn't brought any spoons.
        As shown in one of the photos above, we had to make ones out of aluminum foil which was pretty flimsy and difficult to use. <br>
        &emsp; The sunrise was a welcome sight after that rough night, and the actual hike was freezing but got easier the more I hiked.
        Overall, this hike felt very long, and near the end my friend was about ready to stop so I made the wise decision to run up the mountain to the top.
        I thought this would take me 30 minutes out and back but it ended up taking over an hour. <br>
        &emsp; I was supposed to summit both Gray's peak and Torrey's peak, though I only ended up being able to make it to Gray's before I was unable to continue.
        I will be coming back for Torrey's, but probably not until next summer.
    </p>
</div>
<div class="section">
    <h1 class="content">
        Mount Sherman
    </h1>
    <p class="subheading">
        Leadville, CO 9/27/2025
    </p>
    <div id="sherman">
    </div>
    <p class="content">
        &emsp; Mount Sherman felt like a much harder hike than people said it was supposed to be.
        I picked it because I wanted to experience something lighter than Quandary and it was supposed to be the easiest one.
        The only thing that kept me going through the whole hike was that I had driven so far out on such an unpaved road to get there and I was not going to turn around before summitting it. <br>
        &emsp; I did make a giant packing mistake going on this fourteener since I decided to not bring my jacket when I was at the bottom because it was sunny out.
        The sun did not do anything for me when I started climbing in elevation, and I got so cold people tried to donate me jackets. <br>
        &emsp; Aside from that, this hike was very enjoyable and I thought the views of the old mining equipment were interesting.
        I may attempt this again in the future but actually bring warm clothes.
    </p>
</div>
<div class="section">
    <h1 class="content">
        Quandary Peak
    </h1>
    <p class="subheading">
        Breckenridge, CO 9/14/2025
    </p>
    <div id="quandary">
    </div>
    <p class="content">
        &emsp; Quandary was my first fourteener.
        I think that it felt the easiest out of all of the other ones but that may also be because of how long ago I did it.
        Regardless, it made me love hiking so much more and I've wanted to test what I can do ever since. <br>
        &emsp; It started snowing halfway through this hike which was very unexpected for us as nobody in my group had ever hiked that high up.
        The change of scenery was definitely welcome since it was pretty hot in Boulder and I missed ski season a lot.
        Snow made it a lot harder to hike though since I was wearing some awful shoes for the weather, and I did not have microspikes.
        We pushed through and made it back for some good food.
    </p>
</div>
<script src="/load_images.js"></script>
{{> footer}}