{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        Gray's Peak, Silver Plume, CO 10/5/2025
    </h1>
    <p class="content">
        Hiked
    </p>
</div>
<div class="section">
    <h1 class="content">
        Mount Sherman, Leadville, CO 9/27/2025
    </h1>
    <p class="content">
        Hiked
    </p>
</div>
<div class="section">
    <h1 class="content">
        Quandary, Breckenridge, CO 9/14/2025
    </h1>
    <p class="content">
        Hiked
    </p>
</div>
{{> footer}}