{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        About me
    </h1>
    <div style="text-align: center;">
        <img class="content" src="resources/miscellaneous/homescreen.JPG" style="width: 75vw;">
    </div>
    <p class="content">
        &emsp; My name is Jack McAuliffe.
        I'm a software developer from California, currently working on a degree in Computer Science B.S. and Engineering Physics B.S. from the University of Colorado Boulder.
        I have been coding since about the first grade and I love to problem solve.
        Programming has always drawn me towards it because it acts as a way to make anything I am motivated to make.
        Some interests of mine include low level optimization coding, performance through hardware, quantum computing, and machine learning.<br>
        &emsp; In my off time, I love mountaineering, skiing and other outdoors activities.
        I want to get into surfing and rock climbing if I can find the time.
        Check out the <a href="/fourteeners">fourteeners</a> I've done so far!
    </p>
</div>
<div class="section">
    <h1 class="content">
        Skills
    </h1>
    <h2 class="content">
        Programming Languages
    </h2>
    <p class="content">
        &emsp; I am familiar with c++, Java, JavaScript, HTML and CSS, Scala, Python, and SQL.
        Java is my most used language since I have developed minigames for minecraft servers in it, and c++ and Python I find to be useful for small side projects because of their easy compilation.
        c++ is also a great language to make more technical applications because it is so versatile.
    </p>
    <h2 class="content">
        Development Tools
    </h2>
    <p class="content">
        &emsp; I have worked in teams collaborating on GitHub and using an Agile/Scrum workflow.
        For web development I like to develop with Docker, Node, Express and Handlebars which makes live deployment simpler to do.
        I have experience using AI assisted coding models like WindSurf although I swear by basic VSCode.
    </p>
</div>
<div class="section">
    <h1 class="content">
        Links
    </h1>
    <div class="links">
        <a href="https://www.linkedin.com/in/mcauliffejack/" target="_blank" title="linkedin.com/in/mcauliffejack/"><img class="content" height="50px" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/xbu/linkedin-revised-brand-guidelines/in-logo/fg/brand-inlogo-hero-fg-dsk-v01.png/jcr:content/renditions/brand-inlogo-hero-fg-dsk-v01-2x.png" alt="LinkedIn"></a>
        <a href="https://github.com/jackmcau" target="_blank" title="github.com/jackmcau/"><img class="content" height="50px" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"></a>
    </div>
</div>
{{> footer}}