{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        About me
    </h1>
    <p class="content">
        I'm Jack McAuliffe. I'm a software developer from the Bay Area California, currently working on a degree in Computer Science B.S. and Engineering Physics B.S. from the University of Colorado Boulder. I have been coding since about the first grade and I love problem solving. I mainly program in C++ and Java, but I am very familiar with Python, HTML, and JavaScript. 
    </p>
</div>
{{> footer}}