{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        This Website
    </h1>
    <p class="subheading">
        2025 - Present
    </p>
    <p class="content">
        &emsp; I created this website in order to show off my accomplishments and provide a way to get to know me more than just my resume.
        This website is built on a base of Handlebars, Node, Express, and I hosted it using AWS EC2.
        Creating this website has been a fun experience for me to learn more about web development and gave me an excuse to learn to leverage cloud computing.
        <br><br>
        You can check out the GitHub for this project at <a href="https://github.com/jackmcau/jackmcau.com/" target="_blank">github.com/jackmcau/jackmcau.com/</a>!
        I included instructions to get it running on Docker and Node locally.
    </p>
</div>
<div class="section">
    <h1 class="content">
        Minecraft Servers
    </h1>
    <p class="subheading">
        2022, 2025 - Present
    </p>
    <p class="content">
        &emsp; Developing Minecraft servers has been somewhat of a passion for me over the years.
        Being able to create a game that people play and enjoy and continue to come back to is a very enjoyable experience.
        I find that creating these servers has made me much better at marketing and given me the skill to shift my lens to look at projects as more than a developer.
    </p>
    <h2 class="content">
        Technical Details
    </h2>
    <ul class="content">
        <li class="content">
            Used Java and a Minecraft framework to create minigames which peaked around 100 concurrent users
        </li>
        <li class="content">
            Managed revenue and profit with a budget to afford the hosting service
        </li>
        <li class="content">
            Oversaw a team of coworkers making sure things ran smoothly
        </li>
        <li class="content">
            Worked directly with consumers feedback to make a useful product and retain repeat customers
        </li>
    </ul>
</div>
{{> footer}}