{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        Supercog AI
    </h1>
    <li class="content">
        Worked on a small startup team to develop AI agents
    </li>
    <hr style="margin-left: 5px; margin-right: 5px">
    <p class="content">Below is a video explaining our GitHub PR agent</p>
    <iframe class="content" style="aspect-ratio: 16 / 9;" frameborder="0" src="https://drive.google.com/file/d/1DoNLwypdec2B85TGTVcs_jbb2A2J-N0q/preview" width="100%"></iframe>
</div>
<div class="section">
    <h1 class="content">
        The Fourth Bore
    </h1>
    <li class="content">
        Worked helping with catering, setting up and preparing meals for high traffic events
    </li>
    <li class="content">
        
    </li>
</div>
{{> footer}}