{{> head}}
{{> navbar}}
<div class="section">
    <h1 class="content">
        Research Experience
    </h1>
    <p class="subheading">
        Spring 2026
    </p>
    <p class="content">
        &emsp; I am currently working as a part of a small team in a lab class researching Perovskite solar cells for NREL through the University of Colorado Boulder.
        We are studying the deterioration of these cells depending on how they are manufactured, and hope to find a way to create longer lasting cells to make solar energy cheaper and more efficient.
    </p>
</div>
<div class="section">
    <h1 class="content">
        Supercog AI
    </h1>
    <p class="subheading">
        Summer 2025
    </p>
    <ul class="content">
        <li class="content">
            Worked on a small startup team to develop example AI agents using the startup's framework
        </li>
        <li class="content">
            Presented on the importance of the <a href="https://www.ibm.com/think/topics/react-agent">ReAct model</a> and <a href="https://www.promptingguide.ai/techniques/cot">chain-of-thought prompting</a>
        </li>
        <li class="content">
            Implemented a GitHub pull request review agent which connected to repositories and gave useful comments on pull requests for reviewers
        </li>
        <li class="content">
            Designed the main workflow of the agent and worked with the GitHub patch files to put them into an LLM friendly format
        </li>
    </ul>
    <br>
    <h2 class="content">
        Video explaining PR review agent
    </h2>
    <iframe class="content" style="aspect-ratio: 16 / 9;" frameborder="0" src="https://drive.google.com/file/d/1DoNLwypdec2B85TGTVcs_jbb2A2J-N0q/preview" width="100%"></iframe>
</div>
<div class="section">
    <h1 class="content">
        The Fourth Bore
    </h1>
    <p class="subheading">
        Sept 2023 - July 2024
    </p>
    <p class="content">
        &emsp; I spent my time working for The Fourth Bore on the catering team, where we brought pizza and food to events with a modified firetruck outfitted with a pizza oven and refrigerator.
        This gave me experience in working in high stress environments where from the start to the end of the day there is a large influx of customers.
    </p>
    <ul class="content">
        <li class="content">
            Worked helping with catering, setting up and preparing meals for high traffic events
        </li>
        <li class="content">
            Collaborated with a team to organize, set up, sell products and manage inventory at venues including:
            <ul>
                <li class="content">
                    UC Berkeley Football tailgates and games
                </li>
                <li class="content">
                    Saint Mary's College Basketball games
                </li>
                <li class="content">
                    Soccer and Rugby clubs
                </li>
                <li class="content">
                    Swim clubs
                </li>
                <li class="content">
                    Local fundraisers and parties
                </li>
            </ul>
        </li>
        <li class="content">
            Made food and restocked products under strict deadlines during events
        </li>
    </ul>
    <h2 class="content">
        UC Berkeley stadium before a football game
    </h2>
    <div style="text-align: center;">
        <img class="content" src="resources/miscellaneous/berkeley_stadium.PNG" style="width: 100%;">
    </div>
</div>
{{> footer}}