<footer>
    <p style="margin-bottom: 0px"> &copy; 2026 Jack McAuliffe. All rights reserved.</p>
    <p style="margin-top: 0px;"> Contact me <a href="mailto:jackmcauliffe2006@gmail.com" style="color: gray;">jackmcauliffe2006@gmail.com</a></p>
</footer>
</body>
</html>