<body>
<div class="navbar_bg">
    <h1 class="navbar_contents">Jack McAuliffe</h1>
    <a class="navbar_contents{{#if home}} active{{/if}}" href="{{#if home}}#{{else}}/home{{/if}}">
        Home
    </a>
    <a class="navbar_contents{{#if projects}} active{{/if}}" href="{{#if projects}}#{{else}}/projects{{/if}}">
        Projects
    </a>
    <a class="navbar_contents{{#if work}} active{{/if}}" href="{{#if work}}#{{else}}/work{{/if}}">
        Work
    </a>
    <a class="navbar_contents{{#if fourteeners}} active{{/if}}" href="{{#if fourteeners}}#{{else}}/fourteeners{{/if}}">
        14ers
    </a>
</div>